h1, h3 {
  margin-left: 10px;
}

h1 {
  color: #55ACEE;
}

a {
  text-decoration: none;
  color: #55ACEE;
}

a:visited {
  color: #66757F;
}

.timeline {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.tweet {
  border: 1px solid gray;
  margin: 5px 0;
  padding: 5px;
}

.tweet:nth-child(even) {
  background-color: #EEE;
}

.timestamp {
  font-size: small;
  color: #888;
}

.btn {
  margin: 10px;
}

#refresh {
  width: 100px;
  height: 30px;
}